.SenderBox {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  //   border: 2px solid red;

  .SenderContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 70%;
    width: 80vw;
    padding: 50px;
    // border: 2px solid black;

    .SenderLeft {
      // border: 2px solid green;
      flex: 1;

      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      height: 100%;

      .ID {
        display: flex;
        flex-direction: column;
        align-items: center;


        input {
          font-size: 20px;
          font-weight: 700;
          color: black;
          padding: 15px 25px;
          margin-bottom: 10px;
          border-radius: 6px;
        }

        .createRoom {
          cursor: pointer;
          font-size: 20px;
          font-weight: 700;
          color: white;
          background-color: #865dff;
          padding: 15px 25px;
          border-radius: 6px;
        }
        

        h1 {
          margin: 20px;
          padding: 10px 100px;
          border: 1px solid black;
          border-radius: 10px;
        }
      }
    }

    .SenderRight {
      // border: solid 2px red;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;

      .RightContent {
        border: 2px dashed rgb(90, 0, 199);
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        height: 90%;
        width: 700px;
        flex-wrap: wrap;
        overflow-y: auto;
      }
    }
  }
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f2edff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(195, 173, 255);
  // border: 5px solid transparent;
  border-radius: 9px;
  // background-clip: content-box;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #9d79ff;
}

@media (max-width: 1400px) {
  .senderBox {
    .SenderContainer {
      flex-direction: column;
    }
  }
}
