@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&family=Roboto:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/* Home page styling */

.HomePage {
  font-weight: 300;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;

  .container {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    // border: 2px solid red;

    .mainData {
      //   border: 2px solid red;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      .content {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 20px;
        // height: 40%;
        // border: 2px solid red;
        .logo {
          display: block;
        }
        .tagLine {
          font-family: "Roboto", sans-serif;
          span {
            font-size: 40px;
            background: -webkit-linear-gradient(
              rgb(199, 164, 255),
              rgb(118, 19, 171)
            );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
        h3 {
          color: #767676;
        }
      }

      span {
        // border: 2px solid red;

        button {
          cursor: pointer;
          font-size: 20px;
          font-weight: 700;
          color: white;
          background-color: rgb(90, 0, 199);
          padding: 15px 25px;
          border-radius: 6px;
        }
      }
    }
  }
}

@media (max-width: 1400px) {
  .container {
    align-items: center;
    flex-direction: column-reverse !important;
    gap: 50px;
  }
  .mainData {
    gap: 50px;
    .Logo {
      display: none;
    }
    .content {
      align-items: center;
    }
    align-items: center;
  }
}
