.popup-box {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 300px;
  width: 400px;
  border-radius: 6px;

  .upper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-top: 20px;

    .data {
      p {
        color: #74777f;
      }
    }
    .close{
        button{
            position: relative;
            top: -12px;
            right: -10px;

            cursor: pointer;
            background: #fff;
            color: #74777F;
            padding: 2px 6px;
            border-radius: 6px;
            border: 1px solid #74777F;
        }
    }
  }
  

  .lower {
    h2 {
        margin-bottom: 12px;
      padding: 10px 70px;
      border: 1px solid #191825;
      border-radius: 4px;
    }
  }
}
